body{
    position: relative;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    padding: 10px;
    >h1{
        color: white;
        text-align: center;

    }
}
.alert {
    direction: ltr;
    width: fit-content;
    max-width: 350px;
    border: 1px solid gainsboro;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    align-items: center;
    height: auto;
    border-radius: 8px;
    padding: 3%;
    color: white;
    /* position: absolute;
    top: 0;
    right: 0;
    z-index: 78888888; */
    margin-top: 10px;
    >img {}

    >p {}

    >button {
        width: 20px;
        height: 20px;
        border-radius: 5px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: inherit;
        border: 1px solid white;
        color: white;
        font-size: 15px;
    }
}

.errorAlert {
    border: 1px solid rgb(245, 245, 245);
    background-color: rgba(255, 0, 0, 0.486);
    padding: 5%;
}

.welcomeAlert {
    border: 1px solid gray;
    background-color: rgba(255, 136, 0, 0.61);

}

.sampleAlert {
    border: 1px solid rgb(189, 231, 238);
    background-color: rgba(88, 90, 87, 0.315);

}

.importantAlert {
    border: 1px solid rgba(7, 2, 255, 1);
    background-color: rgba(0, 17, 255, 0.315);

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1%;
    padding: 5px;
    width: 40%;
    height: 90vh;
    /* flex-wrap: wrap; */
}

#alert,
#welcomeAlert,
#errorAlert,
#importantAlert {
    width: 48%;
    padding: 20px;
    background-color: darkgray;
    color: white;
    border: none;
    height: 20%;
    font-size: 18px;
    border-radius: 15px;
}

#showAlert{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10000000;
    width: 40%;
    /* height: 100%; */
}

