@import url(master.css);

body {
    display: flex;
    justify-content: center;
    align-items: center;

    >.container {
        width: 500px;
        height: 300px;
        border: var(--b-border);
        padding: 3%;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        margin-top: 150px;

        >button {
            background-color: transparent;
            border: none;
            /* color: white; */
            position: absolute;
            top: -47%;
            color: white;
            cursor: pointer;
        }

        >#backward {
            left: 0;
        }

        >#forward {
            right: 0;
        }

        >ul {
            border: var(--b-border);
            width: 100%;
            height: 100%;
            padding: 1%;
            border-radius: 4px;
            position: relative;
            overflow: hidden;

            >li {
                border: 1px solid red;
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                /* transition: transform 0.6s ease, opacity 0.6s ease; */
                transition: all 0.4s ease-in-out;
                >figure {
                    width: 100%;
                    height: 100%;

                    >img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
}

ul li.active {
    opacity: 1;
    transform: translateX(0);
    z-index: 3;
}

ul li.next {
    opacity: 1;
    transform: translateX(100%);
    z-index: 2;
}

ul li.prev {
    opacity: 1;
    transform: translateX(-100%);
    z-index: 2;
}
