* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style-type: none;
}

a{
    text-decoration: none;
    color: white;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-color: #212529;
}

:root{
    --b-border:1px solid #495057;
}